<% if user_signed_in? %>
    <%= link_to "シフトを作成する", new_shift_path, class: "shift-create" %>
    <% @shifts.each do | shift | %>
        <%if shift.user.id == current_user.id%>
            <div class="border"></div>
            <% array = shift.shift.split(",").uniq! %>
            <div><%= "作成日: #{shift.updated_at}"%></div>
            <div><%= "シフト月: #{shift.month.name}"%></div>
            <div><%= "リスト: #{array.join(', ')}" %></div>
        <% end %>
    <% end %>
<% end %>
