header{
    width: 100vw;
    height: 150px;
    display: flex;
}

.logo{
    padding-top: 20px;
    padding-left: 90px;
    width: 250px;
    height: 300px; 
    background-repeat: no-repeat;
    background-size:320px 80px;
}

a{
    text-decoration: none;
    color: rgb(46, 70, 8);
}

.icon_hello{
    color: black;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    padding-top: 20px;
    padding-left: 30px;
    width: 200px;
    height: 150px; 
    background-repeat: no-repeat;
    background-size:300px 120px;
}

.border{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 38px;
}

.icon{
    width: 50px;
    display: inline
}
.shift{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    padding-left: 9px;
    padding-right: 8px;
    background-size:300px 198px;
    background-repeat: no-repeat;
    width: 288px;
    height: 196px;
    margin: 5px;
}
.shift_line{
    color: chartreuse;
}

body{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    width: 100vw;
    height: 1000px;
    overflow-y: scroll;
}

span{
    color: gray;
}

.shift_link{
    text-decoration: none;
    color: black;
}
.pin{
    margin-left: 130px;
    padding-bottom: 0px;
}

.shift_new{
    font-size: 20px;
    padding-left: 100px;
    padding-top: 150px;
    margin-left: 200px;
    height: 1000px;
    background-repeat: no-repeat;
    background-size:800px 800px;
}

.list_input{
    font-size: 20px;
    padding-left: 100px;
    padding-top: 150px;
    margin-left: 200px;
    height: 1000px;
    background-repeat: no-repeat;
    background-size:800px 800px;
}

.content_line{
    padding-bottom: 10px;
    background: bottom;
    background: left;
    background-repeat: no-repeat;
    background-size: 400px 8px;
}

.error{
    color: red;
    font-size: 15px;
    font-style: italic;
}